/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #d20f39 !default;
$red-color-dark: #e78284 !default;
$orange-color: #d7875f !default;
$blue-color: #1e66f5 !default;
$blue-color-dark: #8caade !default;
$cyan-color: #9bbcbf !default;
$light-cyan-color: #b7c6c6;
$green-color: #40a02b !default;
$green-color-lime: #fffe66 !default;
$green-color-dark: #a6e3a1 !default;
$green-color-light: #c9e4de !default;
$green-color-bright: #3ebb9e !default;
$purple-color: #ca9ee6 !default;
$light-purple-color: #b4befe;
$pink-color: #ea76cb !default;
$pink-color-light: #f5e0dd !default;
$yellow-color: #df8e1d !default;

$grey-color: #a6adc8 !default;
$subtext: #6c6f85;
$grey-color-light: #11111d;
$grey-color-dark: #181825;
$grey-900: #313244;

$white-color: #cdd6f4 !default;
$black-color: #4c4f69 !default;

// Theme colors

$dark-theme-color: #cba6f7 !default;
$light-theme-color: #8839ef !default;
$code-bg-color-light: #e6e9ef;
$code-bg-color-dark: #313244;
$light-surface: #ccd0da;
$dark-surface: #313244;
$light-card: #eff1f5;
$dark-card: #1e1e2e;

// // Colors
// $red-color: #ff3636 !default;
// $red-color-dark: #b71c1c !default;
// $orange-color: #f29105 !default;
// $blue-color: #0076df !default;
// $blue-color-dark: #00369f !default;
// $cyan-color: #2698ba !default;
// $light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
// $green-color: #00ab37 !default;
// $green-color-lime: #b7d12a !default;
// $green-color-dark: #009f06 !default;
// $green-color-light: #ddffdd !default;
// $green-color-bright: #11d68b !default;
// $purple-color: #b509ac !default;
// $light-purple-color: color.adjust($purple-color, $lightness: 25%);
// $pink-color: #f92080 !default;
// $pink-color-light: #ffdddd !default;
// $yellow-color: #efcc00 !default;
//
// $grey-color: #828282 !default;
// $grey-color-light: color.adjust($grey-color, $lightness: 40%);
// $grey-color-dark: #1c1c1d;
// $grey-900: #212529;
//
// $white-color: #ffffff !default;
// $black-color: #000000 !default;
//
// // Theme colors
//
// $code-bg-color-light: rgba($purple-color, 0.05);
// $code-bg-color-dark: #2c3237 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
